@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap");

* {
    margin: 0;
    padding: 300;
    border: none;
}

body {
    font-family: 'Seaweed Script', 'Brush Script MT', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #100055;
}


h1, h2 {
    font-family: 'Seaweed Script', 'Brush Script MT', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #100055;
}

/*Navigational Links*/

#menu {
    font-family: Helvetica, sans-serif;
    font-size: 80%;
    letter-spacing: 4px;
    text-align: center;
}

#menu, #page-title {
    line-height: 75px;
}

#page-title {
    text-align: center;
}

#menu ul {
    list-style-type:none;
    display: flex;
    justify-content: center;
} 

#menu > li {
    display: inline;
    padding: 2%;
    /*  */
}




