@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap");

* {
    margin: 0;
    padding: 300;
    border: none;
}

body {
    font-family: 'Seaweed Script', 'Brush Script MT', cursive;
    font-weight: 400;
    font-size: 20px;
    color: #100055;
}


h1, h2 {
    font-family: 'Seaweed Script', 'Brush Script MT', cursive;
    font-weight: 400;
    font-size: 500%;
    color: #fff;
    text-decoration: none;
}

/*Navigational Links*/

#menu {
    font-family: Helvetica, sans-serif;
    font-size: 80%;
    letter-spacing: 4px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#menu, #page-title {
    line-height: 75px;
    /* z-index: 1; */
    /* position: absolute; */
}

#page-title {
    position: absolute;
    /* text-align: center; */
    text-decoration: none;
    top: 50%;
    left: 35%;
 
}

#menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
} 

#menu > li {
    display: inline;
    padding: 2%;
    /*  */
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #100055;
}

.active {
    border-bottom: 2px solid #100055;
}



/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    z-index: -2;
}
